/*<General pages>*/

@font-face {
  font-family: christmas;
  src: url('../fonts/Christmas\ Squad\ -\ Personal\ Use.otf');
}

h1, .section-header, h5 {
  font-family: christmas;
}

h5 {
  font-size: 42px;
}


.page-title {
  color: white;
  opacity: 0.8;
}

.page-title .bg {
  background-color: rgb(151, 28, 30);
  line-height: 1.34;
}


.bold {
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: rgb(217, 182, 56) !important;
  border-color: rgb(217, 182, 56);
}

.btn, .banner {
  box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -moz-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -webkit-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -khtml-box-shadow: 0 2px 12px rgba(0,6,12,.5);
}

.btn, .page-title, .section-header, .nav-item {
  font-weight: 700;
}

.card-body {
  border-bottom: 1px solid grey;
}

button:hover, a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.rounded {
    border-radius: 100% !important;
}

.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}  


/*<Logged in Page content>*/


/*<Sign In>*/

.sign-in-body, .upload-body {
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-body {
  background-color: black;
}

.sign-in-card, .upload-card {
  border-bottom: 1px solid gray;
  background-color: rgb(245, 245, 245);
}

/*</Sign In>*/



/*</Logged in Page content>*/



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
    .web {
        display: none !important;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 768px) { 
    
  .web .nav-item {
    color: black;
  }

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 425.98px) { 


}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .sign-in-body {
    min-height:85vh;
  }

}